html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 20px;
  background-color: $ltGray;
  color: $black;
  font-family: "Roboto", sans-serif;
  line-height: 1.3;
}

main {
  padding: 20px;
  background-color: $white;
  border-radius: 15px;
  max-width: 1200px;
  margin: 0 auto;
}
